.feed{
    flex:0.5;
    border-right: 1px solid #E1E8ED ;
    min-width: fit-content;
   
}
.feed_header{
    position: sticky;
    top:0;
    background-color: white;
    z-index: 100;
    border:1px solid #E1E8ED ;
    padding:15px 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
   
}
.feed_header h2{
    font-size:20px;
    font-weight: 800;
}

/*Shrooq Style*/